.noMargin{
  border: 0px;
  margin: 0px;
}

.keepOnTop{
  background-color: lightblue;
  color: green;
  padding-top: 0px;
  padding-left: 15px;
  margin: 0px;
  font-size: 40px; 
}

.links{
  color:blue;
  text-decoration:none;
}

